type: "MARKDOWN_NOTE"
folder: "9b5c5d9ed175a6bde94c"
title: "Welcome to Boostnote :)"
content: '''
  # Welcome to Boostnote :)
  This is a markdown note.
  
  Click to edit this note.
'''
tags: []
isStarred: false
createdAt: "2017-02-13T06:42:16.172Z"
updatedAt: "2017-02-13T06:42:16.172Z"
